.about-main-content-container {
  background: #71c46f;
  
  width:70%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom:9%;
}

.logo-lockup-site {
  display: block;
  width: 393px;
  height: 135px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.logo-large {
  position: absolute;
  right: 15%;
  display: block;
  width: 22em;
}

.about-title-site {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;

  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.about-text-site {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;

  max-width: 60%;
}

.about-text-site-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.how-it-works-container {
  background: #ffffff;

  position: relative;
  width: 100%;
  height: 1000px;
}

.how-it-works-title {
  /* color: #343636; */
  color: #457e44;
  font-size: 40px;
  font-weight: 600;

  margin-top: 2%;
  text-align: center;
  }

  .visual-content-grid {
    padding: 0 10%;
  }

  .visual-content-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
  }

  .grid-img {
    height:330px;

    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .grid-text {
    color: #457e44;
    font-size: 20px;
    
    margin: 3% 0;
    align-self: center;
    max-width: 35%;
  }

/**************************  media queries  ****************************/
@media screen and (max-width: 1250px) {
  .about-text-site {
    font-size: 20px;
    font-weight: 400;
  
    max-width: 50%;
  }

  .about-main-content-container {
    width:80%;
    padding-right: 12%;
    padding-left: 10%;
    padding-bottom:7%;
  }

  .visual-content-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  .grid-img {
    height:330px;
    flex-shrink: 0;
    margin: 3% auto;
  }

  .grid-text {
    margin: 4% 10%;
    align-self: center;
    max-width: 80%;
  }
  
  .visual-content-grid {
    padding: 0 10% 5% 10%;
  }
}

@media screen and (max-width: 1060px) {
  .about-text-site-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 12%;
  }
  
  .about-text-site {
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .logo-large {
    display:none;
  }
}

@media screen and (max-width: 420px) {
  .about-main-content-container {
    width:80%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom:7%;
  }
  
  .about-text-site {
    color: #ffffff;
    font-size: 16px;
  }

  .about-text-site-container {
    margin-top:7%;
  }

  .how-it-works-title {
    /* color: #343636; */
    color: #457e44;
    font-size: 30px;
  }

  .about-title-site {
    color: #ffffff;
    font-size: 30px;
  }

  .grid-img {
    height:230px;
    flex-shrink: 0;
    margin: 3% auto;
  }
}