.chrome-add-button {
  font-size: 20px;

  position: relative;
  margin-left: 20%;
  margin-top: 7%;
  width: 300px; 
  height: 70px;

  border-radius:4px;
}

.download-p {
  position: absolute;
  text-align: center;
  top: 8px;
  left: 23px;
}

.chrome-logo {
  position: absolute;
  top:15px;
  right: 20px;
  width: 40px;
}

/**************************  media queries  ****************************/
@media screen and (max-width: 1060px) {
  .chrome-add-button {  
    align-self: center;
    flex-shrink: 0;
    margin: 5px 0 40px;
  }
}