.chrome-add-button {
  font-size: 1em;

  position: relative;
  margin-left: 20%;
  margin-top: 7%;
  width: 47%; 
  height: 3.5em;

}

.download-p {
  position: absolute;
  text-align: center;
  top: 1vh;
  /* left: 23px; */
  left: 2vw;
}

.chrome-logo {
  position: absolute;
  top:1.7vh;
  right: 1.5vw;
  width: 2.7vw;
}