/* ========= importing fonts from assets file and formatting for browser ========= */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  src: url("../assets/fonts/Poppins-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  src: url("../assets/fonts/Poppins-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/Poppins-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* ========== =sets up backup fonts if montserrat fails ============*/

body {
  color: #ffffff;
  font-family: "Poppins", "Roboto", sans-serif;

  margin: 0 15%;
  max-width: 100vw;
  max-height: 100vh;
}

/* ***************************    COMPONENTS, GENERAL STYLES AND FONTS    ***************************** */

.logo-lockup-medium {
  width: 218px;
  height: 75px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  color: #ffffff;
  background: #457e44;

  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;

  position: relative;
  line-height: 19px;
  padding: 4px 15px;
  width: auto;
  margin: 5px 5px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

  transition: all .2s ease-in-out; 
}

button:hover { 
  transform: scale(1.1); 
}

.single-input-field {
  background: #ffffff;
  
  position: absolute;
  width: 251px;
  height: 59px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.single-input-field-header {
  background: #457e44;

  position: relative;
  width: 251px;
  height: 25px;
  top: 0%;
}

.single-input-field-header-label {
    color: #ffffff;
     
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.single-input-field-header-info {
  color: #ffffff;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: right;
}

/* ***************************                SITE                 ***************************** */
/* ***************************    POSITIONING AND CUSTOM STYLES    ***************************** */

body {
  background: #71c46f;
  margin-right: 15%;
  margin-left: 15%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-text {
  color: #ffffff;
  font-size: .9em;
  background: none;
  
  margin: 25px 5px 0 0;

  box-shadow: none;
}

.error-message {
  color: white;
  background-color: rgb(255, 84, 84);

  display: inline-block;
  padding: 0 10px;
}

.login-container {
  color: #343636;
  
  position: absolute;
  padding: 5px 20px;
  right: 15%;
  height: 450px;
  background: url("../assets/login-bg-2.png");
  border-radius: 4px;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

/* #header-bg {
  absolute: relative;
  top: 0;
  width:334px;
} */

#form-header {
  color: #ffffff;

  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;

  margin-bottom: 5px;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#form-header-sub {
  color: #ffffff;

  margin-top: 5px;
  margin-bottom: 40px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;

  min-width: 300px;
}

input {
  color: #457e44;

  font-family: Poppins;
  font-weight: regular;
  font-size: 12px;

  margin-bottom: 5px;
  width: 200px;
}

.form-submit-btn {
  color: #ffffff;
  background: #457e44;
  
  font-size: 14px;
  font-weight: 500;

  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 2px;
  border: none;
  
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
}

.form-submit-btn:hover { 
  transform: scale(1.05); 
}

.form-footer-text {
  font-size: 12px;
}

/* ***************************              PREFS PAGE              ***************************** */
.prefs-header {
  font-size: 40px;
  font-weight: 600;

  margin-top: 6%;
  margin-bottom: 2%;

  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.prefs-body {
  font-size: 18px;
  font-weight: 400;

  margin-bottom: 4%;
}

.save-prefs {
  margin-top: 5%;
  margin-bottom: 15%;
}

/* ***************************              EXTENSION              ***************************** */
/* ***************************    POSITIONING AND CUSTOM STYLES    ***************************** */

.header-text {
  margin-top: 10%;
  margin-bottom: 3%;
}

.user-filters-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  background: #ffffff;

  width: 200px;
  border-radius: 0 0 2px 2px;
  margin-left: 10px;

  z-index: 1;
}

#x-spaces {
  text-align: right;
  
  position: absolute;
  right: 10px;
}

.btn-user-filter {
  text-align: left;

  width: 200px;
  border-radius: 2px 2px 0 0;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;

  z-index: 0;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.25);

}

.input-field {
  position: absolute;
  left: 35px;
  top: 188px;
}

.header-filter-list {
  position: absolute;
  left: 35px;
  top: 266px;
}

.btn-filter-list {
  position: absolute;
  left: 35px;
  top: 299px;
}

/* ************************ effect ************************ */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


/* ************************ media queries ************************ */
@media screen and (max-width: 1250px) {
  body {
    margin-right: 8%;
    margin-left: 8%;
  }
  
  .login-container {    
    position: absolute;
    right: 8%;
  }
}

@media screen and (max-width: 1060px) {
  .login-container {    
    position: relative;
    align-self: center;
    margin-bottom: 5%;
    margin-left: 16%;
  }
}

@media screen and (max-width: 420px) {
  .login-container {    
    position: relative;
    /* align-self: center; */
    margin-bottom: 5%;
    margin-left: 32px;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5%;
    margin-right: -4%;
  }

  .nav-text {
    margin:0;
  }

  .prefs-header {
    font-size: 26px;
    font-weight: 600;
  }

  .prefs-body {
    color: #ffffff;
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .login-container {    
    position: relative;
    /* align-self: center; */
    margin-bottom: 5%;
    margin-left: 12px;
  }
}