.logo-nav {
  width: 130px ;
  margin: 0 20px 5px 0;
  position: absolute;
  left: 15%;
}



@media screen and (max-width: 1250px) {
  .logo-nav {
    left: 10%;
  }
}

@media screen and (max-width: 420px) {
  .logo-nav {
    left: 10%;
    top: 2%;
  }
}